apiVersion: v1
kind: Service
metadata:
  name: v2k-bridge-verne
  namespace: {{ dojot_namespace }}
spec:
  type: ClusterIP
  selector:
    app: v2k-bridge-verne
  ports:
  - name: v2k-bridge-verne
    port: 4000