apiVersion: v1
kind: Service
metadata:
  labels:
    app: pub-kafka-prometheus
  name: pub-kafka-prometheus
  namespace: {{ dojot_namespace }}
spec:
  ports:
  - name: http
    port: 3055
  selector:
    app: pub-kafka-prometheus
