apiVersion: apps/v1
kind: Deployment
metadata:
  name: pub-kafka-prometheus
  namespace: dojot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pub-kafka-prometheus
  template:
    metadata:
      labels:
        app: pub-kafka-prometheus
    spec:
      containers:
      - name: pub-kafka-prometheus
        image: mprevide/prom_test
        env:
        - name: PROMETHEUS_PORT
          value: "3055"
        - name: AUTH_URL
          value: "http://auth:5000"
        - name: DATA_BROKER_URL
          value: "http://data-broker"
        - name: DATA_BROKER_DNS
          value: "data-broker"
        - name: DATA_BROKER_PORT
          value: "80"
        - name: KAFKA_HOSTS
          value: "kafka-server:9092"
        ports:
        - name: http
          containerPort: 3055
