apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: pub-kafka-prometheus
  namespace: {{ dojot_namespace }}
spec:
  endpoints:
  - interval: 2s
    port: http
  selector:
    matchLabels:
      app: pub-kafka-prometheus
